header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,1);
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
}

header > div.Bar {
    background: rgba(0,0,0,1);
}

header > div.BarTop {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 95000;
    justify-content: space-between;
}
header > div.BarTop > .LogoContainer > a {
    display: block;
    text-align: center;
    background: rgba(0,0,0,1);
    width: 6rem;
    padding: 0.5rem 1rem;
}

header > div.BarTop > .LogoContainer img.AppLogo {
    width: 3rem;
}

header > div.BarTop > .SecondaryMenu {
    display: flex;
}

header > div.BarLeft {
    position: fixed;
    z-index: 9000;
    left: 0;
    height: 100vh;
    padding-top: 4rem;
    background: rgba(30,30,30,1);
}

header > div.BarLeft:hover .MenuItemText {
    display: inline-block;
}

header nav,
header ul,
header li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li > a {
    display: block;
    padding: 0.75rem 0.5rem;
    color: rgba(255,255,255,1);
}

li:hover > a {
    color: rgba(255,255,255,1);
}

.InteractiveIcon {
    margin: 0.5rem;
}
.MenuItemIcon {
    text-align: center;
    display: inline-block;
    width: 5rem;
}

.MenuItemText {
    display: none;
    padding-right: 2rem;
}

header > div.BarLeft li > ul {
    display: none;
}

header li:hover {
    background: rgba(200,0,0,1);
}