header {
    position: fixed;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,1);
    width: 100%;
    height: 5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
}

header nav {
    position: relative;
    color: rgba(255,255,255,1);
    text-align: center;
    cursor: pointer;
    background: rgba(0,0,0,1);
    display: flex;
    margin: 0;
    padding: 0;
}

header nav > span {
    display: block;
    padding: 25px 0;
    height: 5rem;
    font-size: bolder;
}

header  nav > i {
    display: block;
    padding-left: 20px;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav > ul {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
header li {
    position: relative;
    display: block;
    list-style: none;
    width: 10rem;
    background: rgba(0,0,0,1);
    margin: 0;
    padding: 0;
}

header nav > ul > li > ul {
    position: absolute;
    display: none;
    background: black;
    width: 100%;
}

header nav > ul > li:hover > ul {
    display: block;
}

header nav a {
    position: relative;
    display: block;
    text-decoration: none;
    color: rgba(255,255,255,1);
    padding: 1rem;
}
