footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,1);
    width: 100%;
    z-index: 10000;
    text-align: center;
    color: rgba(255,255,255,1);
    min-height: 2rem;
}

footer p {
    margin: 0;
    padding: 0;
}

footer > div {
    display: flex;
    justify-content: space-between;
}

footer a {
    margin: 0;
    padding: 0;
}

footer > div > span nav,
footer > div > span nav ul,
footer > div > span nav ul li,
footer > div > span nav ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}