footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,1);
    width: 100%;
    z-index: 10000;
    text-align: center;
    color: rgba(255,255,255,1);
    min-height: 2rem;
}

footer p {
    margin: 0;
    padding: 0;
}

footer > div {
    display: flex;
    justify-content: space-between;
}

footer a {
    margin: 0;
    padding: 0;
}

footer > div > span nav,
footer > div > span nav ul,
footer > div > span nav ul li,
footer > div > span nav ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

footer div.Logo {
    position: relative;
    display: block;
    height: 20rem;
    width: 15rem;
}

footer div.Logo > * {
    font-family: 'AcornSquash', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}
footer div.Logo > div#four {
    position: absolute;
    color: rgba(150,0,0,1);
    font-size: 27rem;
    margin-left: 45px;
    line-height: 10px;
    top: 100px;
    padding: 0;
}
footer div.Logo > div#ride {
    position: absolute;
    font-size: 11rem;
    top: 60px;
    left: 15px;
    line-height: 10px;
    padding: 0;
}
footer div.Logo > div#ever {
    position: absolute;
    font-size: 12rem;
    top: 180px;
    right: 25px;
    line-height: 10px;
    padding: 0;
}

footer .Logo {
    height: 10rem;
}