body {
  user-select: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

*:disabled {
  cursor: not-allowed;
}

main {
  padding: 2rem;
  padding-top: 6rem;
  padding-left: 8rem;
  min-height: calc(100vh - 2rem);
}

form {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.p-button {
  background: rgba(0,0,0,1);
  border-color: rgba(0,0,0,1);
}

.p-button:not(a):not(.p-disabled):hover {
  background: rgba(75,75,75,1);
  border-color: rgba(0,0,0,1);
}

.Tag-SOON {
  background: rgba(200,0,0,1);
}
.Tag-CANCELED {
  
}
.Tag-RIDING {
  background: rgba(255,150,0,1);
}
.Tag-TEMINATED {
  background: rgb(100, 100, 100);
}

/* section a > button.p-button {
  background: rgba(150,0,0,1);
  border: solid 2px rgba(150,0,0,1);
}

section a > button.p-button:not(a):not(.p-disabled):hover {
  background: rgba(200,0,0,1);
  border: solid 2px rgba(150,0,0,1);
} */